@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-stone-*: initial;
    --color-zinc-*: initial;
    --color-gray-*: initial;
    --color-slate-*: initial;
    --color-rose-*: initial;
    --color-pink-*: initial;
    --color-fuchsia-*: initial;
    --color-sky-*: initial;
    --color-cyan-*: initial;
    --color-teal-*: initial;
    --color-emerald-*: initial;
    --color-lime-*: initial;
    --color-yellow-*: initial;
    --color-amber-*: initial;
    --color-wfp-blue: var(--wfp-blue);
    --color-wfp-navy: var(--wfp-navy);
    --color-wfp-aqua: var(--wfp-aqua);
    --color-wfp-darkgreen: var(--wfp-darkgreen);
    --color-wfp-green: var(--wfp-green);
    --color-wfp-ivory: var(--wfp-ivory);
    --color-wfp-earthybrown: var(--wfp-earthybrown);
    --color-wfp-orange: var(--wfp-orange);
    --color-wfp-red: var(--wfp-red);
    --color-wfp-purple: var(--wfp-purple);
    --color-wfp-burgundy: var(--wfp-burgundy);
    --color-primary-50: var(--blue-50);
    --color-primary-100: var(--blue-100);
    --color-primary-200: var(--blue-200);
    --color-primary-300: var(--blue-300);
    --color-primary-400: var(--blue-400);
    --color-primary-500: var(--blue-500);
    --color-primary-600: var(--blue-600);
    --color-primary-700: var(--blue-700);
    --color-primary-800: var(--blue-800);
    --color-primary-900: var(--blue-900);
    --color-primary-950: var(--blue-950);
    --color-success-50: var(--green-50);
    --color-success-100: var(--green-100);
    --color-success-200: var(--green-200);
    --color-success-300: var(--green-300);
    --color-success-400: var(--green-400);
    --color-success-500: var(--green-500);
    --color-success-600: var(--green-600);
    --color-success-700: var(--green-700);
    --color-success-800: var(--green-800);
    --color-success-900: var(--green-900);
    --color-success-950: var(--green-950);
    --color-warning-50: var(--orange-50);
    --color-warning-100: var(--orange-100);
    --color-warning-200: var(--orange-200);
    --color-warning-300: var(--orange-300);
    --color-warning-400: var(--orange-400);
    --color-warning-500: var(--orange-500);
    --color-warning-600: var(--orange-600);
    --color-warning-700: var(--orange-700);
    --color-warning-800: var(--orange-800);
    --color-warning-900: var(--orange-900);
    --color-warning-950: var(--orange-950);
    --color-danger-50: var(--red-50);
    --color-danger-100: var(--red-100);
    --color-danger-200: var(--red-200);
    --color-danger-300: var(--red-300);
    --color-danger-400: var(--red-400);
    --color-danger-500: var(--red-500);
    --color-danger-600: var(--red-600);
    --color-danger-700: var(--red-700);
    --color-danger-800: var(--red-800);
    --color-danger-900: var(--red-900);
    --color-danger-950: var(--red-950);
    --color-info-50: var(--blue-50);
    --color-info-100: var(--blue-100);
    --color-info-200: var(--blue-200);
    --color-info-300: var(--blue-300);
    --color-info-400: var(--blue-400);
    --color-info-500: var(--blue-500);
    --color-info-600: var(--blue-600);
    --color-info-700: var(--blue-700);
    --color-info-800: var(--blue-800);
    --color-info-900: var(--blue-900);
    --color-info-950: var(--blue-950);
    --radius-xs: 0.125rem;
    --radius-sm: 0.1875rem;
    --radius-md: 0.25rem;
    --radius-lg: 0.375rem;
    --radius-xl: 0.5rem;
    --radius-2xl: 0.75rem;
    --radius-3xl: 1rem;
    --radius-4xl: 1.5rem;
    --font-sans: var(--font-sans);
    --color-white: var(--white);
    --color-black: var(--black);
    --color-purple-950: var(--purple-950);
    --color-purple-900: var(--purple-900);
    --color-purple-800: var(--purple-800);
    --color-purple-700: var(--purple-700);
    --color-purple-600: var(--purple-600);
    --color-purple-500: var(--purple-500);
    --color-purple-400: var(--purple-400);
    --color-purple-300: var(--purple-300);
    --color-purple-200: var(--purple-200);
    --color-purple-100: var(--purple-100);
    --color-purple-50: var(--purple-50);
    --color-red-950: var(--red-950);
    --color-red-900: var(--red-900);
    --color-red-800: var(--red-800);
    --color-red-700: var(--red-700);
    --color-red-600: var(--red-600);
    --color-red-500: var(--red-500);
    --color-red-400: var(--red-400);
    --color-red-300: var(--red-300);
    --color-red-200: var(--red-200);
    --color-red-100: var(--red-100);
    --color-red-50: var(--red-50);
    --color-orange-950: var(--orange-950);
    --color-orange-900: var(--orange-900);
    --color-orange-800: var(--orange-800);
    --color-orange-700: var(--orange-700);
    --color-orange-600: var(--orange-600);
    --color-orange-500: var(--orange-500);
    --color-orange-400: var(--orange-400);
    --color-orange-300: var(--orange-300);
    --color-orange-200: var(--orange-200);
    --color-orange-100: var(--orange-100);
    --color-orange-50: var(--orange-50);
    --color-brown-950: var(--brown-950);
    --color-brown-900: var(--brown-900);
    --color-brown-800: var(--brown-800);
    --color-brown-700: var(--brown-700);
    --color-brown-600: var(--brown-600);
    --color-brown-500: var(--brown-500);
    --color-brown-400: var(--brown-400);
    --color-brown-300: var(--brown-300);
    --color-brown-200: var(--brown-200);
    --color-brown-100: var(--brown-100);
    --color-brown-50: var(--brown-50);
    --color-ivory-950: var(--ivory-950);
    --color-ivory-900: var(--ivory-900);
    --color-ivory-800: var(--ivory-800);
    --color-ivory-700: var(--ivory-700);
    --color-ivory-600: var(--ivory-600);
    --color-ivory-500: var(--ivory-500);
    --color-ivory-400: var(--ivory-400);
    --color-ivory-300: var(--ivory-300);
    --color-ivory-200: var(--ivory-200);
    --color-ivory-100: var(--ivory-100);
    --color-ivory-50: var(--ivory-50);
    --color-green-950: var(--green-950);
    --color-green-900: var(--green-900);
    --color-green-800: var(--green-800);
    --color-green-700: var(--green-700);
    --color-green-600: var(--green-600);
    --color-green-500: var(--green-500);
    --color-green-400: var(--green-400);
    --color-green-300: var(--green-300);
    --color-green-200: var(--green-200);
    --color-green-100: var(--green-100);
    --color-green-50: var(--green-50);
    --color-aqua-950: var(--aqua-950);
    --color-aqua-900: var(--aqua-900);
    --color-aqua-800: var(--aqua-800);
    --color-aqua-700: var(--aqua-700);
    --color-aqua-600: var(--aqua-600);
    --color-aqua-500: var(--aqua-500);
    --color-aqua-400: var(--aqua-400);
    --color-aqua-300: var(--aqua-300);
    --color-aqua-200: var(--aqua-200);
    --color-aqua-100: var(--aqua-100);
    --color-aqua-50: var(--aqua-50);
    --color-blue-950: var(--blue-950);
    --color-blue-900: var(--blue-900);
    --color-blue-800: var(--blue-800);
    --color-blue-700: var(--blue-700);
    --color-blue-600: var(--blue-600);
    --color-blue-500: var(--blue-500);
    --color-blue-400: var(--blue-400);
    --color-blue-300: var(--blue-300);
    --color-blue-200: var(--blue-200);
    --color-blue-100: var(--blue-100);
    --color-blue-50: var(--blue-50);
    --color-neutral-950: var(--neutral-950);
    --color-neutral-900: var(--neutral-900);
    --color-neutral-800: var(--neutral-800);
    --color-neutral-700: var(--neutral-700);
    --color-neutral-600: var(--neutral-600);
    --color-neutral-500: var(--neutral-500);
    --color-neutral-400: var(--neutral-400);
    --color-neutral-300: var(--neutral-300);
    --color-neutral-200: var(--neutral-200);
    --color-neutral-100: var(--neutral-100);
    --color-neutral-50: var(--neutral-50);
    --color-neutral-alpha-950: var(--neutral-alpha-950);
    --color-neutral-alpha-900: var(--neutral-alpha-900);
    --color-neutral-alpha-800: var(--neutral-alpha-800);
    --color-neutral-alpha-700: var(--neutral-alpha-700);
    --color-neutral-alpha-600: var(--neutral-alpha-600);
    --color-neutral-alpha-500: var(--neutral-alpha-500);
    --color-neutral-alpha-400: var(--neutral-alpha-400);
    --color-neutral-alpha-300: var(--neutral-alpha-300);
    --color-neutral-alpha-200: var(--neutral-alpha-200);
    --color-neutral-alpha-100: var(--neutral-alpha-100);
    --color-neutral-alpha-50: var(--neutral-alpha-50);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
}

:root {
    --radius: 0.625rem;
    --background: #fff;
    --foreground: #000000e9;
    --card: #fff;
    --card-foreground: #000000e9;
    --popover: #fff;
    --popover-foreground: #000000e9;
    --primary: #0078b8;
    --primary-foreground: #fff;
    --secondary: #e4f2f9;
    --secondary-foreground: #005491;
    --muted: #f8f8f8;
    --muted-foreground: #0000008f;
    --accent: #0000000f;
    --accent-foreground: #000000e9;
    --destructive: #e4052c;
    --border: #0000001e;
    --input: #8d8d8d;
    --ring: #0078b8;
    --chart-1: #69b8de;
    --chart-2: #2896cd;
    --chart-3: #0078b8;
    --chart-4: #005491;
    --chart-5: #003b6d;
    --sidebar: #f8f8f8;
    --sidebar-foreground: #000000e9;
    --sidebar-primary: #0078b8;
    --sidebar-primary-foreground: #fff;
    --sidebar-accent: #0000000f;
    --sidebar-accent-foreground: #000000e9;
    --sidebar-border: #0000001e;
    --sidebar-ring: #0078b8;
    --wfp-blue: #007dbc;
    --wfp-navy: #002f5a;
    --wfp-aqua: #008eb2;
    --wfp-darkgreen: #005d45;
    --wfp-green: #03924a;
    --wfp-ivory: #ece1b1;
    --wfp-earthybrown: #aa5628;
    --wfp-orange: #f0512d;
    --wfp-red: #e3002b;
    --wfp-purple: #ac1294;
    --wfp-burgundy: #950158;
    --neutral-alpha-50: #00000006;
    --neutral-alpha-100: #0000000f;
    --neutral-alpha-200: #0000001e;
    --neutral-alpha-300: #00000033;
    --neutral-alpha-400: #00000051;
    --neutral-alpha-500: #00000072;
    --neutral-alpha-600: #0000008f;
    --neutral-alpha-700: #000000ad;
    --neutral-alpha-800: #000000c5;
    --neutral-alpha-900: #000000d9;
    --neutral-alpha-950: #000000e9;
    --neutral-50: #f8f8f8;
    --neutral-100: #f1f1f1;
    --neutral-200: #e2e2e2;
    --neutral-300: #cccccc;
    --neutral-400: #aeaeae;
    --neutral-500: #8d8d8d;
    --neutral-600: #727272;
    --neutral-700: #525252;
    --neutral-800: #3a3a3a;
    --neutral-900: #262626;
    --neutral-950: #161616;
    --blue-50: #f4f9fc;
    --blue-100: #e9f2fa;
    --blue-200: #d0e4f4;
    --blue-300: #aed1ec;
    --blue-400: #7bb5df;
    --blue-500: #3f94cc;
    --blue-600: #0078b8;
    --blue-700: #005492;
    --blue-800: #003b6d;
    --blue-900: #00274e;
    --blue-950: #001632;
    --aqua-50: #f4f9fc;
    --aqua-100: #e5f3f8;
    --aqua-200: #c8e6f3;
    --aqua-300: #9ed4e9;
    --aqua-400: #65b9d8;
    --aqua-500: #2399bd;
    --aqua-600: #007c9e;
    --aqua-700: #005975;
    --aqua-800: #003f55;
    --aqua-900: #002a3b;
    --aqua-950: #001925;
    --green-50: #f5faf6;
    --green-100: #e8f4eb;
    --green-200: #cfe8d4;
    --green-300: #abd6b5;
    --green-400: #7abe8a;
    --green-500: #38a05b;
    --green-600: #008442;
    --green-700: #005e46;
    --green-800: #034332;
    --green-900: #022d21;
    --green-950: #011b12;
    --ivory-50: #fbf9ee;
    --ivory-100: #f6f0d9;
    --ivory-200: #ece1b2;
    --ivory-300: #d7cc9d;
    --ivory-400: #baaf81;
    --ivory-500: #988e60;
    --ivory-600: #7d7246;
    --ivory-700: #5c5226;
    --ivory-800: #443a0c;
    --ivory-900: #302600;
    --ivory-950: #1f1600;
    --brown-50: #fdf9f7;
    --brown-100: #faeee9;
    --brown-200: #f5dcd0;
    --brown-300: #edc3af;
    --brown-400: #dfa082;
    --brown-500: #c97952;
    --brown-600: #af5b2e;
    --brown-700: #873c0e;
    --brown-800: #652801;
    --brown-900: #461900;
    --brown-950: #2d0c00;
    --orange-50: #fff7f3;
    --orange-100: #ffeee2;
    --orange-200: #ffdbc1;
    --orange-300: #ffbf91;
    --orange-400: #f89751;
    --orange-500: #dc7005;
    --orange-600: #b85600;
    --orange-700: #893b00;
    --orange-800: #652800;
    --orange-900: #461900;
    --orange-950: #2c0d00;
    --red-50: #fff7f6;
    --red-100: #ffedeb;
    --red-200: #ffd8d3;
    --red-300: #ffbbb5;
    --red-400: #ff8f89;
    --red-500: #ff4b4f;
    --red-600: #e4052c;
    --red-700: #a9000a;
    --red-800: #7c0001;
    --red-900: #560000;
    --red-950: #370000;
    --purple-50: #fdf8fb;
    --purple-100: #faeef7;
    --purple-200: #f5daed;
    --purple-300: #ecbfe0;
    --purple-400: #de98ce;
    --purple-500: #cc6bb9;
    --purple-600: #ba40a5;
    --purple-700: #a10062;
    --purple-800: #760143;
    --purple-900: #52002d;
    --purple-950: #34001b;
    --black: #000;
    --white: #fff;
    --font-sans: Open Sans, Noto Sans Arabic, Noto Sans Bengali, Noto Sans JP, Noto Sans KR, Noto Sans SC, Noto Sans, ui-sans-serif, sans-serif, system-ui;
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
}